:root {
  --active-color: #2196f3;
  --dark-theme: #000000;
  --primary-text-color: #212121;
  --primary-bg-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;
  --pf-img-border: #eeeeee;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* all elements are separated from the container's border with 15px padding value  */
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */

.header-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--dark-theme);
}

.logo-active {
  color: var(--active-color);
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav .nav-menu:not(:last-child) {
  margin-right: 46px;
}

.nav-menu {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.nav-link {
  color: inherit;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--active-color);
}

.nav-link-active {
  color: var(--active-color);
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact .contact-list:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

/* HERO */

.hero {
  text-align: center;
  padding: 200px 0px;
  background-color: var(--tertiary-bg-color);
}

.hero-heading {
  max-width: 696px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-bg-color);
}

.hero-btn {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  padding: 10px 42px 10px 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-bg-color);
  background-color: var(--active-color);
  border-style: none;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--dark-theme);
  background-color: var(--primary-bg-color);
  transform: scale(1.1);
}

/* SOLUTIONS */

.solutions {
  padding-bottom: 0px;
}

.solutions-list {
  display: flex;
}

.solutions-item {
  margin-right: 30px;
}

.solutions-heading {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.solutions-text {
  width: 270px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* WHAT WE DO */

.activity-heading,
.team-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  justify-content: center;
}

.activity-item {
  margin-right: 30px;
}

/* OUR TEAM */

.team {
  background-color: var(--secondary-bg-color);
}

.team-container {
  display: flex;
  justify-content: center;
}

.team-item {
  max-width: 270px;
  margin-right: 30px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  text-align: center;
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  padding-top: 30px;
}

.team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  color: var(--secondary-text-color);
}

/* FOOTER */

.footer {
  background-color: var(--tertiary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  margin-top: 20px;
}

.logo-pf {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.logo-pf-active {
  color: var(--active-color);
}

.footer-item {
  margin-bottom: 9px;
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--primary-bg-color);
}

.footer-headquarters {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-bg-color);
}

.footer-contact-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

/* P O R T F O L I O  */

/* buttons */

.pf-btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}

.pf-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.pf-btn:hover,
.pf-btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--active-color);
}

/* images grid */

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.options-border {
  border: 1px solid var(--pf-img-border);
  border-top: none;
}

.options-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 0 4px 24px;
}

.options-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  padding: 0 0 20px 24px;
  color: var(--secondary-text-color);
}
