:root {
  --active-color: #2196f3;
  --dark-theme: #000000;
  --primary-text-color: #212121;
  --primary-bg-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-bg-color: #f5f4fa;
  --tertiary-bg-color: #2f303a;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

.logo {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--dark-theme);
}

.logo-active {
  color: var(--active-color);
}

.nav-list {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.nav-list:hover,
.nav-list:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--active-color);
}

.nav-list-active {
  color: var(--active-color);
}

.contact-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--secondary-text-color);
}

/* HERO */

.hero {
  background-color: var(--tertiary-bg-color);
}

.hero-heading {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-align: center;
  color: var(--primary-bg-color);
}

.hero-btn {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--active-color);
  border-style: none;
}

/* SOLUTIONS */

.solutions-heading {
  letter-spacing: 0.03em;
}

.solutions-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* WHAT WE DO */

.activity-heading,
.team-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

/* OUR TEAM */

.team {
  background-color: var(--secondary-bg-color);
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* FOOTER */

.footer {
  background-color: var(--tertiary-bg-color);
}

.logo-pf {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.logo-pf-active {
  color: var(--active-color);
}

.footer-headquarters {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
  color: var(--primary-bg-color);
}

.footer-contact-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

/* P O R T F O L I O  */

/* buttons */

.pf-btn {
  width: 121px;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.pf-btn:hover,
.pf-btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--active-color);
}

/* images */

.options-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.options-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
